.listsection h2 {
    font-weight: bold;
    margin: 16px 0px 16px 0px;
    font-size: var(--text-regular);
}

.listsection ul {
    padding: 0;
    margin: 0;
    list-style-position: inside;
    font-size: var(--text-regular);
}