.experiencecard {
    width: 100%;
    display: inline-block;
    margin: 16px 0px 0px 0px;
    background-color: var(--hover-color);
    padding: 8px;
    border-radius: 4px;
    font-size: var(--text-regular);
}

.experiencecard img {
    width: 50%;
    box-sizing: border-box;
    border-radius: 4px;
    display: block;
    margin: auto;
}

.experiencecard ul {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}

.experiencecard p  {
    margin: 0;
}

@media screen and (min-width: 576px) {
    .experiencecard img  {
        width: 50%;
        padding: 0 16px 0 0;
    }

    .experiencecard img  {
        float: left;
    }

    .experiencecard div  {
        width: 50%;
        display: inline-block;
    }
}

@media screen and (min-width: 768px) {
    .experiencecard img {
        width: 16.66%;
    }

    .experiencecard div  {
        width: 83.33%;
    }
}