:root {
    --text-large: 18px;
    --text-regular: 14px;
    --hover-color: #E9ECEF;
    --primary-color: #00CCFF;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--primary-color);
}

main h1 {
    font-size:  var(--text-large);
    font-weight: bold;
}

main {
    padding: 16px 8px;
    background-color: white;
}